@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/Manrope-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Manrope';
	font-style: bold;
	font-weight: 600;
	font-display: swap;
	src: url('./fonts/Manrope-Bold.woff2') format('woff2');
}
