@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Manrope-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Manrope';
	font-style: bold;
	font-weight: 600;
	font-display: swap;
	src: url('./fonts/Manrope-Bold.woff2') format('woff2');
}

@layer base {
	:root {
		--dark-black: #070707;
		--black: #161616;
		--grey: #5d5959;
		--grey-light: #bfbfbf;
		--grey-slight: #f5f4f4;
		--red: #ff5043;
		--brown-light: #cdc0b2;
		--brown-dark: #64584a;
		--white: #fdfdfd;
		--white-light: #fdfbfb;

		--highlight: var(--red);

		--xx-large: 10rem;
		--x-large: 4.5rem;
		--large: 4rem;
		--medium: 3.5rem;
		--small: 3rem;
		--x-small: 2rem;
		--xx-small: 1.5rem;

		--h1: 5rem;
		--h2: 3rem;
		--h3: 1.75rem;

		--p-x-large: 1.5rem;
		--p-large: 1.25rem;
		--p-medium: 1.125rem;
		--p-small: 1rem;

		--shadow-hover-default: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
	}

	body.light {
		--important: var(--black);
		--body: var(--grey);
		--sub: var(--brown-light);
		--bg: var(--grey-slight);
		--box: var(--white);

		--gradient-primary: linear-gradient(224.91deg, var(--red) 32.52%, #cdc0b2 79.06%);
		--gradient-stroke: linear-gradient(180deg, #ffffff 0%, #ece7e5 100%);
	}

	body.dark {
		--important: var(--white-light);
		--body: var(--grey-light);
		--sub: var(--brown-dark);
		--bg: var(--black);
		--box: var(--dark-black);

		--gradient-primary: linear-gradient(224.91deg, var(--red) 32.52%, #64584a 79.06%);
		--gradient-stroke: linear-gradient(179.95deg, #332d23 0.04%, #0f0e0b 99.8%);
	}

	*,
	*::before,
	*::after {
		@apply m-0 p-0;
		box-sizing: inherit;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
	}

	html {
		@apply box-border overflow-x-hidden;
	}

	body {
		@apply bg-bg;
		text-rendering: optimizeLegibility;
	}

	main {
		@apply text-body;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-bold text-important;
	}
}

@layer components {
	.h2 {
		@apply text-h2 leading-[3.375rem];
	}

	.h3 {
		@apply text-h3 leading-[2.391rem] tracking-[0.15em];
	}

	.h4 {
		@apply text-base;
	}

	.bottom-lined::after {
		content: '';
		@apply mx-auto mt-large block h-32 w-[3px] bg-sub;
	}
}
